@tailwind base;
@tailwind components;
@tailwind utilities;

.counter {
  display: grid;
  place-items: center;
}

.counter-message {
  text-align: center;
  display: flex;
  align-self: center;
  justify-content: center;
  margin-top: 500px;
}
.my-thing {
  margin-top: 500px;
  background-color: black;
  width: 50vw;
  height: 50vh;
}
.mainBody {
  /*background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,84,166,1) 0%, rgba(132,189,201,1) 90% );*/
  /*background-color: #240F52;*/
  /*background-image: linear-gradient(128deg, rgba(28,69,87,1) 6%, rgba(25,20,112,1) 22%, rgba(37,9,79,1) 38%, rgba(9,9,121,1) 53%, rgba(0,212,255,1) 100%);*/
  overflow: hidden;
  width: 100%;
  height: 300vh;
  min-height: 2100px;
  position:absolute;
  /*background: radial-gradient(circle, rgba(28,69,87,1) 3%, rgba(20,88,112,1) 16%, rgba(37,9,79,1) 43%, rgba(9,9,121,1) 71%, rgba(0,212,255,1) 100%);*/
  /*background: radial-gradient(circle at right, rgba(38,15,71,1) 31%, rgba(21,5,45,1) 50%, rgba(9,9,121,1) 72%, rgba(0,212,255,1) 100%);*/
}
/*body {*/
/*  width: 100%;*/
/*}*/
#root {
  height: 100%;
}
.moonWrapper {
  position: absolute;
  width: 100%;
  height: 300vh;
  min-height: 2100px;
  /*overflow: hidden;*/
}
.secondBody {
  position:absolute;
  width: 100%;
  /*background: radial-gradient(circle, rgba(28,69,87,1) 3%, rgba(20,88,112,1) 16%, rgba(37,9,79,1) 43%, rgba(9,9,121,1) 71%, rgba(0,212,255,1) 100%);*/
  background: radial-gradient(circle at right, rgba(38,15,71,1) 31%, rgba(21,5,45,1) 50%, rgba(9,9,121,1) 72%, rgba(0,212,255,1) 100%);
  /*background: "radial-gradient(circle at right, rgba(38,15,71,1) 31%, rgba(21,5,45,1) 50%, rgba(9,9,121,1) 72%, rgba(0,212,255,1) 100%)";*/
  /*overflow: hidden;*/
  height: 300vh;
  min-height: 2100px;
}
.itsmid{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);

  max-width: 30vw;
}
.moonWrapper{

}
.testClassToFind {

  box-sizing: border-box;
  /*display: none;*/
  position: absolute;
  /*overflow: hidden;*/
  /*overflow: hidden;*/
  right: 0;
  z-index: 10;
  height: 300vh;
  min-height: 2100px;
  /*width: 100%;*/
  max-width: 250px;
}


.fixedMoon {
  /*left: 95%;*/
  top: 40%;
  left: 0;
  /*right: 0;*/
  /*transform: translate(-50%, 0);*/
  position: sticky;
  z-index: 55;
  width: 150px;
  height: 150px;
}
.fixedCloud {
  /*left: 95%;*/
  top: 20%;
  left: 0;
  /*right: 0;*/
  /*transform: translate(-50%, 0);*/
  position: sticky;
  z-index: 55;
  width: 150px;
  height: 150px;
}
.shadowMoon{
  position: relative;
  border-radius: 50%;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12),
  0 2px 2px rgba(0,0,0,0.12),
  0 4px 4px rgba(0,0,0,0.12),
  0 8px 8px rgba(0,0,0,0.12),
  0 16px 16px rgba(0,0,0,0.12);
}
.dummy {
  height: 100vh;
  /*background-image: linear-gradient(128deg, rgba(28,69,87,1) 6%, rgba(25,20,112,1) 22%, rgba(37,9,79,1) 38%, rgba(9,9,121,1) 53%, rgba(0,212,255,1) 100%);*/

  /*width: 100%;*/
  /*height: 300vh;*/
  /*position: relative;*/
}
.absoluteCanvas {
  position:absolute;
  overflow: hidden;
  width: 100%;
  height: 300vh;
  min-height: 2100px;
}
.anotherColor {
  background-image: linear-gradient(128deg, rgba(28,69,87,1) 6%, rgba(25,20,112,1) 22%, rgba(37,9,79,1) 38%, rgba(9,9,121,1) 53%, rgba(0,212,255,1) 100%);
  position:absolute;
  overflow: hidden;
  width: 100%;
  height: 300vh;
  min-height: 2100px;
}
.mainBodyWithoutBackground {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 300vh;
  min-height: 2100px;
}

.spinner-profile {
  /*position: absolute;*/
  /*margin-top: 70px;*/
  width: 250px;
  /*background-color: #03e9f4;*/
}

@media (max-width: 765px) {
  .spinner-profile {
    margin-top: 2rem;
    width: 125px;
  }
}
.glowingStyle {
  border-radius: 50%;
  color: #050801;
  /*box-shadow: 0 0 5px #03e9f4,*/
  /*0 0 25px #03e9f4,*/
  /*0 0 50px #03e9f4,*/
  /*0 0 200px #03e9f4,*/
  /*0 0 5px #03e9f4 inset,*/
  /*inset 0 0 25px #03e9f4,*/
  /*inset 0 0 50px #03e9f4,*/
  /*inset 0 0 200px #03e9f4,*/
  /*inset 0 0 5px #000000;*/

  box-shadow: 0 0 5px #f6f799,
  0 0 25px #f8f363,
  0 0 50px #fcffe4,
  0 0 200px #ffffff,
  0 0 5px #f6f799 inset,
  inset 0 0 25px #f8f363,
  inset 0 0 50px #fcffe4,
  inset 0 0 200px #ffffff,
  inset 0 0 5px #000000;

  /*box-shadow: 0px 1px 3px gray inset;*/

}
.text-block {
  margin-left: 15px;
  padding: 10px;
  /*border-radius: 5px;*/
  background-color: aliceblue;
  /*margin-top: 500px;*/
  /*max-height: 100px;*/
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 10%, 10% 0);
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 20%, 90% 0);
}

.text-block2 {
  margin-left: 15px;
  padding: 10px;
  /*border-radius: 5px;*/
  background-color: aliceblue;
  /*margin-top: 600px;*/
  /*max-height: 100px;*/
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 10%, 10% 0);
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 20%, 90% 0);
}